# ignore data directory
data/

# DS_Store
.DS_Store

# csvs
*.csv

# pickled files
*.pkl
*.pickle

# json files
*.json

# ipynb_checkpoints
.ipynb_checkpoints

# Hugo default output directory
personal-site/public

