# ignore data directory
data/

# DS_Store
.DS_Store

# csvs
*.csv

# pickled files
*.pkl
*.pickle

# json files
*.json

# img folder
personal-site/static/img

# ipynb_checkpoints
.ipynb_checkpoints

# Hugo default output directory
personal-site/public

# cache
.cache

#build lock
.hugo_build.lock
